* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  max-width: 1100px;
  margin: 2rem;
}

.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  color: hsl(219, 29%, 14%);
  position: relative;
}

.card.purple {
  background-color: hsl(263, 55%, 52%);
  color: white;
  grid-column: span 2;
  background-image: url('data:image/svg+xml,<svg width="104" height="102" xmlns="http://www.w3.org/2000/svg"><path d="M104 102V59.727H84.114c0-5.871.689-11.182 2.068-15.933 1.379-4.75 3.42-9.287 6.125-13.61C95.01 25.86 98.909 22.257 104 19.375V0c-9.758 4.27-17.712 9.874-23.864 16.813-6.151 6.939-10.712 14.545-13.681 22.818C63.485 47.904 62 59.941 62 75.74V102h42zm-62 0V59.727H22.114c0-5.871.689-11.182 2.068-15.933 1.379-4.75 3.42-9.287 6.125-13.61C33.01 25.86 36.909 22.257 42 19.375V0c-9.652 4.27-17.58 9.874-23.784 16.813C12.01 23.752 7.424 31.358 4.455 39.631 1.485 47.904 0 59.941 0 75.74V102h42z" fill="%23A775F1" fill-rule="nonzero"/></svg>');
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.card.dark {
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.card.dark-blue {
  background-color: hsl(219, 29%, 14%);
  color: white;
  grid-column: span 2;
}

.card.white.big {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card.purple .profile img,
.card.dark-blue .profile img {
  border: 2px solid #A775F1;
}

.profile h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.profile p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.card > p {
  font-size: 0.85rem;
  line-height: 1.5;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
  
  .card.purple,
  .card.dark-blue,
  .card.white.big {
    grid-column: 1;
  }
  
  .card.white.big {
    grid-row: auto;
  }
}